[Unit]
Description=CPUfreqs_Start

Wants=network.target
After=syslog.target network-online.target temp_throttle.service tlp.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=cpufreq.start
Restart=on-failure
#RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
