[Unit]
Description=Temp_Throttle

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
#ExecStart=temp_throttle 59
ExecStart=tempthrottle-pot 59 49
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
